.weather_current {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
}

.weather_current_label {
     margin: 0;
     font-size: 45px;
}

.weather_current_temp {
     margin: 2px;
}

.weather_current_icon {
     margin: 2px;
}
